.footer {
  background-color: #f5f5fa;

  &__wraper {
    background-color: #f5f5fa;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    border-top: 2px solid #e6e6f0;

    @media screen and (max-width: 1004px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  &__rights {
    & p {
      margin: 0;
      line-height: 20px;
      color: #b3b3ba;
    }
  }
}

.footer-contacts {
  @media screen and (max-width: 748px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__address {
    display: inline-block;
    margin: 0 26px 21px 0;
    line-height: 20px;
    color: #323264;

    @media screen and (max-width: 748px) {
      margin: 0 0 10px;
    }
  }

  &__link-map {
    display: inline-block;
    margin: 0;
    position: relative;

    @media screen and (max-width: 748px) {
      margin: 0 0 21px;
    }

    & a {
      text-decoration: none;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24a3ff;
      &:hover {
        color: #f0145a;
        cursor: pointer;
      }
    }
    &:not(:first-child)::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -18px;
      border: 3px solid #b3b3ba;
      border-radius: 30px;

      @media screen and (max-width: 748px) {
        display: none;
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 26px;

    @media screen and (max-width: 748px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__item {
    position: relative;
    &:not(:first-child)::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -15px;
      border: 3px solid #b3b3ba;
      border-radius: 30px;

      @media screen and (max-width: 748px) {
        display: none;
      }
    }
  }

  &__link-logo {
    & svg {
      fill: #24a3ff;
      &:hover {
        fill: #f0145a;
        cursor: pointer;
      }
    }
  }

  &__link-phone {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #46466e;
    &:hover {
      color: #f0145a;
      cursor: pointer;
    }
  }
  &__link-mail {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #24a3ff;
    &:hover {
      color: #f0145a;
      cursor: pointer;
    }
  }
}
